.sidebar{
    min-width: 296px;
    min-height: 100vh;
    .adminLogo{
        background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/e14818f156111b5b0a00492903c1552d319ec9c5/week5/logo-ANSWER.svg'
        ) center center;
        background-size: cover;
        height: 40px;
        width: 151px;
        @include imgReplace;
    }
    &-menu{
        .active::before{
            content: "";
            vertical-align:text-top;
            position: absolute;
            left: 0;
            height: 32px;
            border-left: 4px solid $success;
        }
    }
    &-adminAccount-card{
        img{
            width: 40px;
            height: 40px;
        }
    }
}

