<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <section class="sidebar bg-light d-flex flex-column justify-content-between p-6 position-fixed">
      <div class="sidebar-content">
        <h1 class="mb-6"><a href="./index.html" class="adminLogo">admin-logo</a></h1>
        <!--navtab-->
        <nav class="nav sidebar-menu flex-column fw-bold">
          <a class="nav-link pb-5" aria-current="page" href="#"><span class="material-icons pe-4">
            insert_chart
            </span>Dashboard</a>
          <a class="nav-link pb-5" href="#"><span class="material-icons pe-4">
            question_answer
            </span>Question</a>
          <a class="nav-link pb-5" href="#"><span class="material-icons pe-4">
            assignment
            </span>Assignment</a>
          <a class="nav-link pb-5" href="#" ><span class="material-icons pe-4">
            video_library
            </span>Course</a>
          <a class="nav-link pb-5 active" href="#"><span class="material-icons pe-4">
            people_alt
            </span>Admin</a>
          <a class="nav-link pb-5" href="#"><span class="material-icons pe-4">
            settings
            </span>Settings</a>
        </nav>
      </div>   
      <!--card+stretched-link-->
      <div class="sidebar-adminAccount-card position-relative">
        <div class="row g-0 align-items-center">
          <div class="col-3">
            <a href="#" class="stretched-link mx-auto"><img class="img-fluid rounded-circle mx-auto" src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/andychen.jpeg?raw=true" alt="Andy Chen photo" ></a>
          </div>
          <div class="col-9">
            <div class="card-body">
              <h4 class="card-title fw-bold">Andy Chen</h4>
              <p class="card-text fs-5"><small class="text-muted">andy0401@mail.com</small></p>
            </div>
          </div>
        </div>
      </div>
      
     
    </section>


    <%- contents %>

  

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>